@charset "UTF-8";

html, html * {
	margin: 0;
	padding: 0;
}

input[type=text], select{
	width: 95%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	/* resize: vertical; */
	outline: none;
}

.col-75 textarea {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 95%;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #04aa6d;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	float: right;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 600px){
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}