@charset "UTF-8";

html, html * {
	box-sizing: border-box;
	/* padding: 0;
	margin: 0; */ 
}

body {
	margin: 0;
	
}

.container {
	padding: 64px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column-66 {
	float: left;
	width: 66.66666%;
	padding: 20px;
}

.column-33 {
	float: left;
	width: 33.33333%;
	padding: 20px;
}

.large-font {
	font-size: 48px;
}

.xlarge-font {
	font-size: 64px;
}

.f-36 {
	font-size: 36px;
}

.f-24 {
	font-size: 24px;
}

.button {
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	background: #04AA6D;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3% 0%;
}

.bg-grey {
	background: #f1f1f1;
}

.bg-red {
	background: red;
}

@media screen and (max-width: 1000px) {
	.column-66,
	.column-33 {
		width: 100%;
		text-align: center;
	}
	img {
	margin: auto;
	}
}

